body {
    padding: 0 !important;
    /* border-radius: 20px; */
    /* width: 100%!important; */
}

/* #quizContainer{
    background-color: rgb(69, 69, 231);
    border-radius: 20px; 
     height: 100%; 
     position: absolute; 
 }  */

.welcome {
    background-image: linear-gradient(rgba(9, 216, 223, 0.3), rgba(14, 223, 223, 0.3)), url(./images/background.jfif);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position:inherit; */
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.front-left {
    padding-top: 75px;
    padding-bottom: 0;
    text-align: center;
}

.front-left img {
    padding-top: 80px;
    padding-bottom: 0;
    text-align: center;
    width: 75%;
    height: 75%;
    border-radius: 150%;
}

.front-right {
    padding-top: 150px;
    padding-right: -50px;
    padding-bottom: 0;
    text-align: left;
    /* background-color: aquamarine; */
    /* width: fit-content; */
    /* border-radius: 10%; */

    /* height: fit-content; */
}

.front-right .go {
    font-size: 70px;
}

.front-right .smit {
    /* text-align: center; */
    margin-left: 50px;
}

.front-right .login {
    margin-left: 55px;
}

.front-right .account {
    margin-left: -20px;
}

.front-right .sign {
    margin-left: 40px;
}